<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1>My first heading</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit fuga alias
      omnis repellat repellendus modi voluptatem asperiores facilis quis. Maxime
      debitis cumque, officiis eligendi nesciunt voluptatum voluptatem nam non
      nostrum nihil! Iusto, dolore tenetur. Dignissimos, eum odit quas
      repellendus exercitationem placeat harum consequuntur reiciendis veniam
      optio earum obcaecati nobis saepe!
    </p>

    
  </body>
</html>
