@font-face {
  font-family: custom-font;
  src: url(font/Rubik-Bold.ttf);
}

.container {
  position: relative;
  background-image: url(simpback.png);
  width: 100%;
  height: 640px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container .bar-div {
  position: absolute;
  top: 5%;
  left: 3.5%;
  color: white;
  
}

.container .home-div {
  position: absolute;
  bottom: 89.8%;
  left: 8.5%;
  color: white;
  font-size: 15px;
}

.container .service-div {
  position: absolute;
  left: 15%;
  bottom: 89.8%;
  color: white;
  font-size: 15px;
}

.container .about-div {
  position: absolute;
  left: 22%;
  bottom: 89.8%;
  color: white;
  font-size: 15px;
}

.container .contact-div {
  position: absolute;
  right: 3.5%;
  color: white;
  bottom: 89.8%;
  font-size: 15px;
}

.container .title-div {
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 45px;
  font-family: custom-font;
  color: white;
}

.container .body-div {
  position: absolute;
  width: 200px;
  top: 48%;
  left: 15%;
  color: white;
  opacity: 0.4;
  font-size: 13px;
}

.container .button-div {
  position: absolute;
  top: 59%;
  left: 14%;
}

.container .break-div {
  position: absolute;
  top: 47%;
  left: 10%;
}

.break-div hr {
  height: 1px;
  background-color: white;
  width: 45px;
}

.button-div button {
  color: white;
  height: 35px;
  background-color: rgba(95, 169, 208, 255);
  border-color: rgba(95, 169, 208, 255);
  width: 128px;
  border-radius: 18px;
  font-size: 17px;
}
